n8n-workflows/automated-property-discovery.json
{
  "name": "Automated Property Discovery - 80+ Score Alerts",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Hourly Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Simulate fetching properties from various sources\n// In production, replace with actual API calls or web scraping\n\nconst mockProperties = [\n  {\n    address: \"123 Foreclosure Ave\",\n    city: \"Miami\",\n    state: \"FL\",\n    zip: \"33125\",\n    ownerName: \"Distressed Owner\",\n    assessedValue: 250000,\n    estimatedValue: 320000,\n    lastSalePrice: 180000,\n    foreclosure: true,\n    taxDelinquent: true,\n    vacant: true,\n    daysOnMarket: 120,\n    dataSource: \"County Records\"\n  },\n  {\n    address: \"456 Tax Lien Blvd\",\n    city: \"Fort Lauderdale\",\n    state: \"FL\",\n    zip: \"33301\",\n    ownerName: \"Absentee Owner\",\n    assessedValue: 180000,\n    estimatedValue: 220000,\n    taxDelinquent: true,\n    absenteeOwner: true,\n    taxAmount: 8500,\n    dataSource: \"Tax Records\"\n  },\n  {\n    address: \"789 Probate Court\",\n    city: \"Miami Beach\",\n    state: \"FL\",\n    zip: \"33139\",\n    ownerName: \"Estate of John Smith\",\n    assessedValue: 450000,\n    estimatedValue: 550000,\n    probate: true,\n    vacant: true,\n    dataSource: \"Probate Records\"\n  },\n  {\n    address: \"321 Normal St\",\n    city: \"Miami\",\n    state: \"FL\",\n    zip: \"33101\",\n    ownerName: \"Regular Seller\",\n    assessedValue: 300000,\n    estimatedValue: 310000,\n    dataSource: \"MLS\"\n  }\n];\n\n// Add metadata and prepare for FlipOps\nreturn mockProperties.map(property => ({\n  json: {\n    type: \"property\",\n    action: \"create\",\n    workflowName: \"Automated Discovery\",\n    workflowId: $workflow.id,\n    executionId: $execution.id,\n    timestamp: new Date().toISOString(),\n    data: property\n  }\n}));"
      },
      "id": "fetch-properties",
      "name": "Fetch Properties",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.FLIPOPS_WEBHOOK_URL || 'http://localhost:3000/api/webhooks/n8n' }}",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "fo_live_10177805c8d743e1a6e1860515dc2b3f"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "send-to-flipops",
      "name": "Send to FlipOps",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse FlipOps response and filter high-score properties\nconst response = $input.all()[0].json;\nconst highScoreProperties = [];\n\nif (response.success && response.results) {\n  response.results.forEach(result => {\n    if (result.success && result.score >= 80) {\n      highScoreProperties.push({\n        address: result.address,\n        score: result.score,\n        potentialProfit: result.potentialProfit,\n        alertLevel: \n          result.score >= 95 ? \"🚨 URGENT\" :\n          result.score >= 90 ? \"🔥 HOT\" :\n          result.score >= 85 ? \"⚡ HIGH\" :\n          \"✅ GOOD\"\n      });\n    }\n  });\n}\n\nif (highScoreProperties.length === 0) {\n  return [{\n    json: {\n      message: \"No high-score properties found in this batch\",\n      totalProcessed: response.results?.length || 0\n    }\n  }];\n}\n\nreturn highScoreProperties.map(prop => ({ json: prop }));"
      },
      "id": "filter-high-scores",
      "name": "Filter 80+ Scores",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.score >= 80 }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-score",
      "name": "Has High Score?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "channel": "={{ $env.SLACK_CHANNEL || 'general' }}",
        "text": "🎯 High-Score Property Alert!",
        "attachments": [
          {
            "color": "#00FF00",
            "fields": {
              "item": [
                {
                  "short": true,
                  "title": "Address",
                  "value": "={{ $json.address }}"
                },
                {
                  "short": true,
                  "title": "Score",
                  "value": "={{ $json.score }}/100"
                },
                {
                  "short": true,
                  "title": "Profit Potential",
                  "value": "${{ $json.potentialProfit.toLocaleString() }}"
                },
                {
                  "short": true,
                  "title": "Alert Level",
                  "value": "={{ $json.alertLevel }}"
                }
              ]
            },
            "title": "New Investment Opportunity",
            "title_link": "https://your-dashboard.com/properties"
          }
        ],
        "otherOptions": {}
      },
      "id": "slack-alert",
      "name": "Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [1250, 250]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.GMAIL_ADDRESS || 'alerts@flipops.io' }}",
        "toEmail": "={{ $env.NOTIFICATION_EMAIL || 'investor@example.com' }}",
        "subject": "={{ $json.alertLevel }} - Score {{ $json.score }} Property Found",
        "html": "<h2>High-Score Property Alert</h2>\n<p><strong>Address:</strong> {{ $json.address }}</p>\n<p><strong>Score:</strong> {{ $json.score }}/100</p>\n<p><strong>Potential Profit:</strong> ${{ $json.potentialProfit.toLocaleString() }}</p>\n<p><strong>Alert Level:</strong> {{ $json.alertLevel }}</p>\n<hr>\n<p><a href=\"https://your-dashboard.com/properties\">View in Dashboard</a></p>",
        "options": {}
      },
      "id": "email-alert",
      "name": "Email Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1250, 350]
    },
    {
      "parameters": {
        "jsCode": "// Generate daily summary report\nconst properties = $input.all();\nconst summary = {\n  timestamp: new Date().toISOString(),\n  totalFound: properties.length,\n  breakdown: {\n    urgent: properties.filter(p => p.json.score >= 95).length,\n    hot: properties.filter(p => p.json.score >= 90 && p.json.score < 95).length,\n    high: properties.filter(p => p.json.score >= 85 && p.json.score < 90).length,\n    good: properties.filter(p => p.json.score >= 80 && p.json.score < 85).length\n  },\n  topProperty: properties.sort((a, b) => b.json.score - a.json.score)[0]?.json || null,\n  totalPotentialProfit: properties.reduce((sum, p) => sum + (p.json.potentialProfit || 0), 0)\n};\n\nreturn [{ json: summary }];"
      },
      "id": "generate-summary",
      "name": "Generate Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "={{ $env.GOOGLE_SHEET_ID || 'your-sheet-id' }}",
        "range": "A:E",
        "dataMode": "autoMapInputData",
        "options": {}
      },
      "id": "log-to-sheets",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [1650, 300]
    }
  ],
  "connections": {
    "Hourly Trigger": {
      "main": [
        [
          {
            "node": "Fetch Properties",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Properties": {
      "main": [
        [
          {
            "node": "Send to FlipOps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to FlipOps": {
      "main": [
        [
          {
            "node": "Filter 80+ Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter 80+ Scores": {
      "main": [
        [
          {
            "node": "Has High Score?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has High Score?": {
      "main": [
        [
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Summary",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Generate Summary": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "pinData": {},
  "versionId": "v1"
}