n8n-workflows/discovery-production-final.json
{
  "name": "FlipOps - Discovery (All Sources) Production",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyDay",
              "hour": 2,
              "minute": 0
            }
          ]
        }
      },
      "name": "Cron 2AM",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [100, 500]
    },
    {
      "parameters": {
        "mode": "passThrough",
        "output": "input2"
      },
      "name": "Merge Triggers",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [300, 400]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1TwEzCOn-2FygrJ3jSTixzXgdknMmn-I_AiuHaCPjJKY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "ManualLeads",
          "mode": "name"
        },
        "options": {}
      },
      "name": "Google Sheets Intake",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [500, 200]
    },
    {
      "parameters": {
        "functionCode": "return items.map(i => {\n  const r = i.json;\n  return {\n    json: {\n      type: \"property\",\n      source: \"sheets-intake\",\n      property: {\n        address1: r.address || r.Address || '',\n        city: r.city || r.City || '',\n        state: r.state || r.State || \"FL\",\n        zip: String(r.zip ?? r.ZIP ?? \"\"),\n        apn: r.apn || r.APN || null,\n        ownerName: r.ownerName || r.Owner || null\n      },\n      flags: { \n        foreclosure: false, \n        preForeclosure: false, \n        taxDelinquent: false, \n        vacant: false, \n        bankruptcy: false, \n        absenteeOwner: false \n      },\n      metadata: { \n        scrapeUrl: null, \n        recordedAt: null, \n        ingestedAt: new Date().toISOString(), \n        raw: r \n      }\n    }\n  };\n});"
      },
      "name": "Normalize Sheets",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [700, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.TAX_CSV_URL || 'https://example.com/tax.csv'}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "name": "Fetch Tax CSV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [500, 350]
    },
    {
      "parameters": {
        "fileFormat": "csv",
        "options": {
          "headerRow": true
        }
      },
      "name": "Parse Tax CSV",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [700, 350]
    },
    {
      "parameters": {
        "functionCode": "return items.map(i => {\n  const r = i.json;\n  return {\n    json: {\n      type: \"property\",\n      source: \"tax-delinquent\",\n      property: {\n        address1: r.Address || '',\n        city: r.City || '',\n        state: r.State || \"FL\",\n        zip: String(r.Zip || \"\"),\n        apn: r.APN || null,\n        ownerName: r.Owner || null\n      },\n      flags: { \n        taxDelinquent: true, \n        foreclosure: false, \n        preForeclosure: false, \n        vacant: false, \n        bankruptcy: false, \n        absenteeOwner: false \n      },\n      metadata: { \n        scrapeUrl: $env.TAX_CSV_URL, \n        recordedAt: r.RecordedAt || null, \n        ingestedAt: new Date().toISOString(), \n        raw: r \n      }\n    }\n  };\n});"
      },
      "name": "Normalize Tax",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 350]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.CODE_VIOLATIONS_URL || 'https://example.com/violations.json'}}",
        "options": {}
      },
      "name": "Fetch Code Violations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [500, 500]
    },
    {
      "parameters": {
        "functionCode": "return items.map(i => {\n  const r = i.json;\n  return {\n    json: {\n      type: \"property\",\n      source: \"city-code-violations\",\n      property: {\n        address1: r.site_address || r.address || '',\n        city: r.city || \"MIAMI\",\n        state: r.state || \"FL\",\n        zip: String(r.zip || \"\"),\n        apn: r.parcel || null,\n        ownerName: r.owner_name || null\n      },\n      flags: { \n        taxDelinquent: false, \n        foreclosure: false, \n        preForeclosure: false, \n        vacant: false, \n        bankruptcy: false, \n        absenteeOwner: false \n      },\n      metadata: { \n        scrapeUrl: $env.CODE_VIOLATIONS_URL, \n        recordedAt: r.violation_date || null, \n        ingestedAt: new Date().toISOString(), \n        raw: r \n      }\n    }\n  };\n});"
      },
      "name": "Normalize Violations",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [700, 500]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.EVICTIONS_URL || 'https://example.com/evictions.html'}}",
        "options": {}
      },
      "name": "Fetch Evictions HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [500, 650]
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "address",
              "cssSelector": "td:nth-child(2)",
              "returnValue": "text"
            },
            {
              "key": "city",
              "cssSelector": "td:nth-child(3)",
              "returnValue": "text"
            },
            {
              "key": "zip",
              "cssSelector": "td:nth-child(4)",
              "returnValue": "text"
            },
            {
              "key": "defendant",
              "cssSelector": "td:nth-child(5)",
              "returnValue": "text"
            },
            {
              "key": "filed_date",
              "cssSelector": "td:nth-child(6)",
              "returnValue": "text"
            }
          ]
        },
        "options": {
          "tableCssSelector": "table#cases > tbody > tr"
        }
      },
      "name": "Extract Evictions",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [700, 650]
    },
    {
      "parameters": {
        "functionCode": "return items.map(i => {\n  const r = i.json;\n  return {\n    json: {\n      type: \"property\",\n      source: \"evictions-court\",\n      property: {\n        address1: r.address || '',\n        city: r.city || '',\n        state: r.state || \"FL\",\n        zip: String(r.zip || \"\"),\n        apn: r.apn || null,\n        ownerName: r.defendant || null\n      },\n      flags: { \n        absenteeOwner: true, \n        foreclosure: false, \n        preForeclosure: false, \n        taxDelinquent: false, \n        vacant: false, \n        bankruptcy: false \n      },\n      metadata: { \n        scrapeUrl: $env.EVICTIONS_URL, \n        recordedAt: r.filed_date || null, \n        ingestedAt: new Date().toISOString(), \n        raw: r \n      }\n    }\n  };\n});"
      },
      "name": "Normalize Evictions",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 650]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.PROBATE_URL || 'https://example.com/probate.json'}}",
        "options": {}
      },
      "name": "Fetch Probate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [500, 800]
    },
    {
      "parameters": {
        "functionCode": "return items.map(i => {\n  const r = i.json;\n  return {\n    json: {\n      type: \"property\",\n      source: \"probate-docket\",\n      property: {\n        address1: r.decedent_address || r.address || '',\n        city: r.city || '',\n        state: r.state || \"FL\",\n        zip: String(r.zip || \"\"),\n        apn: r.apn || null,\n        ownerName: r.decedent_name || null\n      },\n      flags: { \n        absenteeOwner: true, \n        foreclosure: false, \n        preForeclosure: false, \n        taxDelinquent: false, \n        vacant: false, \n        bankruptcy: false \n      },\n      metadata: { \n        scrapeUrl: $env.PROBATE_URL, \n        recordedAt: r.filed_date || null, \n        ingestedAt: new Date().toISOString(), \n        raw: r \n      }\n    }\n  };\n});"
      },
      "name": "Normalize Probate",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [700, 800]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.PROVIDER_API_URL || 'https://api.provider.com/properties'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.PROVIDER_API_KEY}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Fetch Provider API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [500, 950]
    },
    {
      "parameters": {
        "functionCode": "return items.map(i => {\n  const r = i.json;\n  return {\n    json: {\n      type: \"property\",\n      source: \"provider-api\",\n      property: {\n        address1: r.address1 || r.address || '',\n        city: r.city || '',\n        state: r.state || '',\n        zip: String(r.zip || \"\"),\n        apn: r.apn || null,\n        ownerName: r.owner || null\n      },\n      flags: {\n        foreclosure: !!r.flags?.foreclosure,\n        preForeclosure: !!r.flags?.preForeclosure,\n        taxDelinquent: !!r.flags?.taxDelinquent,\n        vacant: !!r.flags?.vacant,\n        bankruptcy: !!r.flags?.bankruptcy,\n        absenteeOwner: !!r.flags?.absenteeOwner\n      },\n      metadata: { \n        scrapeUrl: $env.PROVIDER_API_URL, \n        recordedAt: r.recordedAt || null, \n        ingestedAt: new Date().toISOString(), \n        raw: r \n      }\n    }\n  };\n});"
      },
      "name": "Normalize Provider",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [700, 950]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "name": "Merge All Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [1100, 600]
    },
    {
      "parameters": {
        "functionCode": "// Track total received items\nconst st = $getWorkflowStaticData('node');\nst.__received = (st.__received || 0) + items.length;\nreturn items;"
      },
      "name": "Count Received",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1300, 600]
    },
    {
      "parameters": {
        "functionCode": "function norm(s){return (s||'').toUpperCase().replace(/[^\\w\\s]/g,'').replace(/\\s+/g,' ').trim();}\nreturn items.map(i=>{\n  const p=i.json.property||{};\n  const addrKey=[norm(p.address1),norm(p.city),norm(p.state),norm(p.zip)].join('|');\n  const key=p.apn?norm(p.apn):addrKey+'|'+norm(p.ownerName||'');\n  i.json._idempotency=key;\n  i.json.metadata=i.json.metadata||{};\n  i.json.metadata.ingestedAt=new Date().toISOString();\n  return i;\n});"
      },
      "name": "Add Idempotency",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1500, 600]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.FO_API_BASE_URL || 'https://flipops-api-production.up.railway.app/api'}}/events/seen/{{$json._idempotency}}",
        "options": {
          "ignoreResponseCode": true
        }
      },
      "name": "Check If Seen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1700, 600]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.seen}}",
              "operation": "equal",
              "value2": false
            }
          ]
        }
      },
      "name": "Is New?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1900, 600]
    },
    {
      "parameters": {
        "functionCode": "// Count deduped items\nconst st = $getWorkflowStaticData('node');\nst.__deduped = (st.__deduped || 0) + items.length;\nreturn items; // they'll be dropped after this branch"
      },
      "name": "Count Deduped",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [2100, 750]
    },
    {
      "parameters": {
        "batchSize": 25,
        "options": {}
      },
      "name": "Batch 25",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [2100, 450]
    },
    {
      "parameters": {
        "functionCode": "const secret=$env.FO_WEBHOOK_SECRET; if(!secret) return items;\nfunction canonical(obj){const sort=v=>Array.isArray(v)?v.map(sort):(v&&typeof v==='object'?Object.keys(v).sort().reduce((o,k)=>(o[k]=sort(v[k]),o),{}):v);return JSON.stringify(sort(obj));}\nconst canon=canonical(items[0].json);\nconst sig=require('crypto').createHmac('sha256',secret).update(canon).digest('hex');\nreturn items.map(i=>{i.json._headers=i.json._headers||{};i.json._headers['X-Fo-Sig']=`v1canon=${sig}`;return i;});"
      },
      "name": "Add HMAC",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [2300, 450]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.FO_INGEST_WEBHOOK || 'https://primary-production-8b46.up.railway.app/webhook/fo.score'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{$env.FO_API_KEY || 'fo_live_10177805c8d743e1a6e1860515dc2b3f'}}"
            },
            {
              "name": "X-Fo-Id",
              "value": "={{$json._idempotency}}"
            },
            {
              "name": "X-Fo-Type",
              "value": "property.created"
            },
            {
              "name": "X-Fo-Version",
              "value": "1"
            },
            {
              "name": "X-Fo-Ts",
              "value": "={{Date.now()}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "options": {
          "timeout": 30000,
          "retry": {
            "maxTries": 3,
            "waitBetweenTries": 2000
          }
        }
      },
      "name": "Publish to Scoring",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2500, 450],
      "continueOnFail": false
    },
    {
      "parameters": {
        "functionCode": "// Flag as published\nreturn items.map(i => { i.json._published = true; return i; });"
      },
      "name": "Flag Published",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [2700, 450]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.FO_API_BASE_URL || 'https://flipops-api-production.up.railway.app/api'}}/events/mark-seen",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { eventId: $json._idempotency } }}"
      },
      "name": "Mark as Seen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2900, 450]
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": 350,
        "unit": "milliseconds"
      },
      "name": "Rate Limit",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [3100, 450]
    },
    {
      "parameters": {
        "functionCode": "// Tally all metrics\nconst st = $getWorkflowStaticData('node');\nconst published = $items().flat().filter(i => i.json && i.json._published === true).length;\nconst received = st.__received || 0;\nconst deduped = st.__deduped || 0;\n\nconst bySource = {};\nfor (const i of $items().flat()) {\n  const s = i.json?.source || 'unknown';\n  bySource[s] = (bySource[s] || 0) + 1;\n}\n\nconst summary = {\n  workflow: $workflow.name,\n  runId: $execution.id,\n  date: new Date().toISOString(),\n  totals: {\n    received,\n    published,\n    deduped\n  },\n  bySource\n};\n\nreturn [{ json: summary }];"
      },
      "name": "Tally Metrics",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [3500, 600]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "={{$env.SLACK_ALERTS_CHANNEL_ID || 'C09JDCY5SKH'}}",
        "text": "=📊 *Discovery Summary*\\n\\n*Workflow:* {{$json.workflow}}\\n*Run ID:* {{$json.runId}}\\n*Date:* {{$json.date}}\\n\\n*Totals:*\\n• Received: {{$json.totals.received}}\\n• Published: {{$json.totals.published}}\\n• Deduped: {{$json.totals.deduped}}\\n\\n*By Source:*\\n{{Object.entries($json.bySource).map(([k,v]) => `• ${k}: ${v}`).join('\\n')}}",
        "otherOptions": {}
      },
      "name": "Slack Summary",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [3700, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.FO_API_BASE_URL || 'https://flipops-api-production.up.railway.app/api'}}/notifications",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{$env.FO_API_KEY || 'fo_live_10177805c8d743e1a6e1860515dc2b3f'}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        }
      },
      "name": "Log Notifications",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [3900, 600]
    },
    {
      "parameters": {},
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [3500, 800]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "={{$env.SLACK_ALERTS_CHANNEL_ID || 'C09JDCY5SKH'}}",
        "text": "=❌ *Discovery Error*\\n\\n*Workflow:* {{$workflow.name}}\\n*Node:* {{$node.name}}\\n*Error:* {{$json.error?.message || $error.message}}\\n*Source:* {{$json.source}}\\n*URL:* {{$json.metadata?.scrapeUrl}}\\n*Time:* {{new Date().toISOString()}}",
        "otherOptions": {}
      },
      "name": "Slack Error",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [3700, 800]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron 2AM": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Triggers": {
      "main": [
        [
          {
            "node": "Google Sheets Intake",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Tax CSV",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Code Violations",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Evictions HTML",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Probate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Provider API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Intake": {
      "main": [
        [
          {
            "node": "Normalize Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Sheets": {
      "main": [
        [
          {
            "node": "Merge All Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Tax CSV": {
      "main": [
        [
          {
            "node": "Parse Tax CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Tax CSV": {
      "main": [
        [
          {
            "node": "Normalize Tax",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Tax": {
      "main": [
        [
          {
            "node": "Merge All Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch Code Violations": {
      "main": [
        [
          {
            "node": "Normalize Violations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Violations": {
      "main": [
        [
          {
            "node": "Merge All Sources",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Fetch Evictions HTML": {
      "main": [
        [
          {
            "node": "Extract Evictions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Evictions": {
      "main": [
        [
          {
            "node": "Normalize Evictions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Evictions": {
      "main": [
        [
          {
            "node": "Merge All Sources",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Fetch Probate": {
      "main": [
        [
          {
            "node": "Normalize Probate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Probate": {
      "main": [
        [
          {
            "node": "Merge All Sources",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Fetch Provider API": {
      "main": [
        [
          {
            "node": "Normalize Provider",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Provider": {
      "main": [
        [
          {
            "node": "Merge All Sources",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Merge All Sources": {
      "main": [
        [
          {
            "node": "Count Received",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count Received": {
      "main": [
        [
          {
            "node": "Add Idempotency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Idempotency": {
      "main": [
        [
          {
            "node": "Check If Seen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Seen": {
      "main": [
        [
          {
            "node": "Is New?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New?": {
      "main": [
        [
          {
            "node": "Batch 25",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Count Deduped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count Deduped": {
      "main": [
        []
      ]
    },
    "Batch 25": {
      "main": [
        [
          {
            "node": "Add HMAC",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tally Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add HMAC": {
      "main": [
        [
          {
            "node": "Publish to Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish to Scoring": {
      "main": [
        [
          {
            "node": "Flag Published",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flag Published": {
      "main": [
        [
          {
            "node": "Mark as Seen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Seen": {
      "main": [
        [
          {
            "node": "Rate Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit": {
      "main": [
        [
          {
            "node": "Batch 25",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tally Metrics": {
      "main": [
        [
          {
            "node": "Slack Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Summary": {
      "main": [
        [
          {
            "node": "Log Notifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Slack Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}