n8n-workflows/discovery-all-sources-clean.json
{
  "name": "FlipOps - Discovery (All Sources)",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [{
            "mode": "everyDay",
            "hour": 2,
            "minute": 0
          }]
        }
      },
      "name": "Daily 2AM Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [100, 200]
    },
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [100, 400]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": []
        },
        "options": {}
      },
      "name": "Merge Triggers",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [300, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1TwEzCOn-2FygrJ3jSTixzXgdknMmn-I_AiuHaCPjJKY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "ManualLeads",
          "mode": "name"
        },
        "options": {}
      },
      "name": "Google Sheets - Manual Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [500, 100]
    },
    {
      "parameters": {
        "functionCode": "return items.map(item => {\n  const data = item.json;\n  return {\n    json: {\n      type: 'property',\n      source: 'google-sheets-manual',\n      property: {\n        address1: data.address || '',\n        city: data.city || '',\n        state: data.state || '',\n        zip: data.zip || '',\n        apn: data.apn || null,\n        ownerName: data.ownerName || null\n      },\n      flags: {\n        foreclosure: data.foreclosure === true || data.foreclosure === 'true',\n        preForeclosure: data.preForeclosure === true || data.preForeclosure === 'true',\n        taxDelinquent: data.taxDelinquent === true || data.taxDelinquent === 'true',\n        vacant: data.vacant === true || data.vacant === 'true',\n        bankruptcy: data.bankruptcy === true || data.bankruptcy === 'true',\n        absenteeOwner: data.absenteeOwner === true || data.absenteeOwner === 'true'\n      },\n      metadata: {\n        scrapeUrl: null,\n        recordedAt: data.recordedAt || null,\n        ingestedAt: new Date().toISOString(),\n        raw: data\n      }\n    }\n  };\n});"
      },
      "name": "Normalize Google Sheets",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [700, 100]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.TAX_CSV_URL || 'https://example.com/tax-delinquent.csv'}}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "name": "Fetch Tax Delinquent CSV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [500, 250]
    },
    {
      "parameters": {
        "functionCode": "const csv = items[0].json;\nconst lines = csv.split('\\n');\nconst headers = lines[0].split(',').map(h => h.trim());\nconst results = [];\n\nfor (let i = 1; i < lines.length; i++) {\n  if (!lines[i].trim()) continue;\n  const values = lines[i].split(',');\n  const row = {};\n  headers.forEach((h, idx) => {\n    row[h] = values[idx] ? values[idx].trim() : '';\n  });\n  \n  results.push({\n    json: {\n      type: 'property',\n      source: 'miami-dade-tax',\n      property: {\n        address1: row.address || row.ADDRESS || '',\n        city: row.city || row.CITY || '',\n        state: row.state || row.STATE || 'FL',\n        zip: row.zip || row.ZIP || '',\n        apn: row.apn || row.APN || row.parcel || null,\n        ownerName: row.owner || row.OWNER || null\n      },\n      flags: {\n        foreclosure: false,\n        preForeclosure: false,\n        taxDelinquent: true,\n        vacant: false,\n        bankruptcy: false,\n        absenteeOwner: false\n      },\n      metadata: {\n        scrapeUrl: '{{TAX_CSV_URL}}',\n        recordedAt: row.delinquentDate || null,\n        ingestedAt: new Date().toISOString(),\n        raw: row\n      }\n    }\n  });\n}\n\nreturn results;"
      },
      "name": "Parse Tax CSV",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [700, 250]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": []
        },
        "options": {}
      },
      "name": "Merge All Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [1100, 450]
    },
    {
      "parameters": {
        "functionCode": "function norm(s) {\n  return (s || '').toUpperCase().replace(/[^\\w\\s]/g, '').replace(/\\s+/g, ' ').trim();\n}\n\nreturn items.map(item => {\n  const p = item.json.property || {};\n  const addrKey = [norm(p.address1), norm(p.city), norm(p.state), norm(p.zip)].join('|');\n  const key = p.apn ? norm(p.apn) : addrKey + '|' + norm(p.ownerName || '');\n  \n  item.json._idempotency = key;\n  item.json.metadata = item.json.metadata || {};\n  item.json.metadata.ingestedAt = new Date().toISOString();\n  \n  return item;\n});"
      },
      "name": "Add Idempotency Keys",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1300, 450]
    },
    {
      "parameters": {
        "batchSize": 25,
        "options": {}
      },
      "name": "Batch for Publishing",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [1500, 450]
    },
    {
      "parameters": {
        "functionCode": "const secret = '7d82e2b8945c43959699bc3a3c1467bdd66954d25d6f41eb';\nif (!secret) return items;\n\nconst crypto = require('crypto');\n\nfunction canonical(obj) {\n  const sort = v =>\n    Array.isArray(v)\n      ? v.map(sort)\n      : v && typeof v === 'object'\n        ? Object.keys(v).sort().reduce((o, k) => (o[k] = sort(v[k]), o), {})\n        : v;\n  return JSON.stringify(sort(obj));\n}\n\nreturn items.map(item => {\n  const canon = canonical(item.json);\n  const sig = crypto.createHmac('sha256', secret).update(canon).digest('hex');\n  \n  item.json._headers = {\n    'X-Fo-Sig': `v1canon=${sig}`\n  };\n  \n  return item;\n});"
      },
      "name": "Add HMAC Signature",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1700, 450]
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": 0.3,
        "unit": "seconds"
      },
      "name": "Rate Limit",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1900, 450]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://flipops-api-production.up.railway.app/api/webhooks/n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "fo_live_10177805c8d743e1a6e1860515dc2b3f"
            },
            {
              "name": "X-Fo-Id",
              "value": "={{$json._idempotency}}"
            },
            {
              "name": "X-Fo-Type",
              "value": "property.created"
            },
            {
              "name": "X-Fo-Version",
              "value": "1"
            },
            {
              "name": "X-Fo-Ts",
              "value": "={{Date.now()}}"
            },
            {
              "name": "X-Fo-Sig",
              "value": "={{$json._headers['X-Fo-Sig']}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "options": {
          "timeout": 30000,
          "retry": {
            "maxTries": 3,
            "waitBetweenTries": 2000
          }
        }
      },
      "name": "Publish to Scoring",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2100, 450]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "C09JDCY5SKH",
        "text": "=🏠 *FlipOps Discovery Workflow Started*\\n\\nProcessing property data from multiple sources...\\n_Timestamp: {{new Date().toISOString()}}_",
        "otherOptions": {}
      },
      "name": "Slack Start Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [2300, 450]
    }
  ],
  "connections": {
    "Daily 2AM Trigger": {
      "main": [[{"node": "Merge Triggers", "type": "main", "index": 0}]]
    },
    "Manual Trigger": {
      "main": [[{"node": "Merge Triggers", "type": "main", "index": 1}]]
    },
    "Merge Triggers": {
      "main": [[
        {"node": "Google Sheets - Manual Leads", "type": "main", "index": 0},
        {"node": "Fetch Tax Delinquent CSV", "type": "main", "index": 0}
      ]]
    },
    "Google Sheets - Manual Leads": {
      "main": [[{"node": "Normalize Google Sheets", "type": "main", "index": 0}]]
    },
    "Normalize Google Sheets": {
      "main": [[{"node": "Merge All Sources", "type": "main", "index": 0}]]
    },
    "Fetch Tax Delinquent CSV": {
      "main": [[{"node": "Parse Tax CSV", "type": "main", "index": 0}]]
    },
    "Parse Tax CSV": {
      "main": [[{"node": "Merge All Sources", "type": "main", "index": 1}]]
    },
    "Merge All Sources": {
      "main": [[{"node": "Add Idempotency Keys", "type": "main", "index": 0}]]
    },
    "Add Idempotency Keys": {
      "main": [[{"node": "Batch for Publishing", "type": "main", "index": 0}]]
    },
    "Batch for Publishing": {
      "main": [[
        {"node": "Add HMAC Signature", "type": "main", "index": 0},
        {"node": "Batch for Publishing", "type": "main", "index": 0}
      ]]
    },
    "Add HMAC Signature": {
      "main": [[{"node": "Rate Limit", "type": "main", "index": 0}]]
    },
    "Rate Limit": {
      "main": [[{"node": "Publish to Scoring", "type": "main", "index": 0}]]
    },
    "Publish to Scoring": {
      "main": [[{"node": "Slack Start Notification", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {},
  "__activate": true
}