n8n-workflows/flipops-property-import.json
{
  "name": "FlipOps Property Import",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Transform your source data to FlipOps format\n// This example shows county record transformation\n\nconst items = $input.all();\n\nreturn items.map(item => {\n  const record = item.json;\n  \n  // Map your source fields to FlipOps schema\n  const propertyData = {\n    // Required fields\n    address: record.PROPERTY_ADDRESS || record.address,\n    city: record.CITY || record.city,\n    state: record.STATE || record.state,\n    zip: record.ZIP_CODE || record.zip,\n    ownerName: record.OWNER_NAME || record.owner_name,\n    dataSource: \"County Records\",\n    \n    // Optional fields\n    county: record.COUNTY,\n    apn: record.APN || record.PARCEL_ID,\n    mailingAddress: record.MAIL_ADDRESS,\n    \n    // Property details\n    propertyType: record.PROPERTY_TYPE?.toLowerCase().replace(' ', '_'),\n    bedrooms: parseInt(record.BEDROOMS) || undefined,\n    bathrooms: parseFloat(record.BATHROOMS) || undefined,\n    squareFeet: parseInt(record.SQUARE_FEET) || undefined,\n    yearBuilt: parseInt(record.YEAR_BUILT) || undefined,\n    \n    // Financial data\n    assessedValue: parseFloat(record.ASSESSED_VALUE) || undefined,\n    taxAmount: parseFloat(record.TAX_AMOUNT) || undefined,\n    lastSaleDate: record.LAST_SALE_DATE,\n    lastSalePrice: parseFloat(record.LAST_SALE_PRICE) || undefined,\n    \n    // Status indicators (adjust based on your data)\n    preForeclosure: record.PRE_FORECLOSURE === \"Y\" || record.PRE_FORECLOSURE === true,\n    foreclosure: record.FORECLOSURE === \"Y\" || record.FORECLOSURE_STATUS === \"ACTIVE\",\n    taxDelinquent: record.TAX_STATUS === \"DELINQUENT\" || record.TAX_DELINQUENT === true,\n    vacant: record.OCCUPANCY === \"VACANT\" || record.VACANT === true,\n    absenteeOwner: record.OWNER_OCCUPIED === \"N\" || record.ABSENTEE === true,\n    \n    // Metadata\n    sourceId: record.ID || record.RECORD_ID,\n    importedAt: new Date().toISOString()\n  };\n  \n  return {\n    json: {\n      type: \"property\",\n      action: \"create\",\n      workflowName: $workflow.name,\n      workflowId: $workflow.id,\n      executionId: $execution.id,\n      data: propertyData\n    }\n  };\n});"
      },
      "id": "transform-data",
      "name": "Transform to FlipOps Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.FLIPOPS_WEBHOOK_URL || 'http://localhost:3000/api/webhooks/n8n' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.FLIPOPS_API_KEY || 'fo_live_10177805c8d743e1a6e1860515dc2b3f' }}"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "batching": {
            "batch": {
              "batchSize": 100
            }
          }
        }
      },
      "id": "send-to-flipops",
      "name": "Send to FlipOps",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "={{ $json.success ? 'Success' : 'Failed' }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "recordsProcessed",
              "value": "={{ $json.results?.length || 0 }}"
            },
            {
              "name": "highScoreCount",
              "value": "={{ $json.results?.filter(r => r.score > 70).length || 0 }}"
            }
          ]
        }
      },
      "id": "process-response",
      "name": "Process Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Transform to FlipOps Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform to FlipOps Format": {
      "main": [
        [
          {
            "node": "Send to FlipOps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to FlipOps": {
      "main": [
        [
          {
            "node": "Process Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": ["flipops", "property", "import"],
  "triggerCount": 0,
  "versionId": "01"
}