workflows/flipops-google-sheets-sync.json
{
  "name": "FlipOps Google Sheets Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "e3c4d5f6-7b8a-9012-3456-789012345678",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Properties",
          "mode": "name"
        },
        "options": {}
      },
      "id": "a1b2c3d4-5e6f-7890-1234-567890123456",
      "name": "Get Properties from Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [450, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Transform Google Sheets data to FlipOps property schema\nconst properties = [];\n\nfor (const item of $input.all()) {\n  const row = item.json;\n  \n  // Skip empty rows or header rows\n  if (!row.address || row.address === 'Address') continue;\n  \n  const property = {\n    address: row.address || '',\n    city: row.city || 'Miami',\n    state: row.state || 'FL',\n    zip: row.zip || '',\n    ownerName: row.owner_name || row.ownerName || '',\n    \n    // Parse boolean fields\n    foreclosure: ['true', 'yes', '1', 'x'].includes((row.foreclosure || '').toLowerCase()),\n    preForeclosure: ['true', 'yes', '1', 'x'].includes((row.pre_foreclosure || row.preForeclosure || '').toLowerCase()),\n    taxDelinquent: ['true', 'yes', '1', 'x'].includes((row.tax_delinquent || row.taxDelinquent || '').toLowerCase()),\n    vacant: ['true', 'yes', '1', 'x'].includes((row.vacant || '').toLowerCase()),\n    bankruptcy: ['true', 'yes', '1', 'x'].includes((row.bankruptcy || '').toLowerCase()),\n    absenteeOwner: ['true', 'yes', '1', 'x'].includes((row.absentee_owner || row.absenteeOwner || '').toLowerCase()),\n    \n    // Additional metadata\n    source: 'google_sheets',\n    importedAt: new Date().toISOString()\n  };\n  \n  properties.push(property);\n}\n\n// Remove duplicates by address\nconst uniqueProperties = properties.filter((prop, index, self) =>\n  index === self.findIndex((p) => p.address === prop.address && p.city === prop.city)\n);\n\nreturn uniqueProperties.map(p => ({ json: p }));"
      },
      "id": "b2c3d4e5-6f7a-8901-2345-678901234567",
      "name": "Transform to Schema",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.FO_API_BASE_URL }}/webhooks/n8n",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.FO_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 10,
              "batchInterval": 1000
            }
          },
          "timeout": 9000,
          "retry": {
            "maxTries": 2,
            "waitBetweenTries": 1000
          }
        }
      },
      "id": "c3d4e5f6-7a8b-9012-3456-789012345678",
      "name": "Send to FlipOps",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.score }}",
              "operation": "largerEqual",
              "value2": 80
            }
          ]
        }
      },
      "id": "d4e5f6a7-8b9c-0123-4567-890123456789",
      "name": "High Score Filter",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "channel": "={{ $env.SLACK_ALERTS_CHANNEL_ID }}",
        "messageType": "block",
        "blocksUi": {
          "blocks": [
            {
              "type": "header",
              "text": {
                "type": "plain_text",
                "text": "🔥 High-Score Property Alert"
              }
            },
            {
              "type": "section",
              "text": {
                "type": "mrkdwn",
                "text": "*New property scored {{ $json.score }}/100*"
              },
              "fields": [
                {
                  "type": "mrkdwn",
                  "text": "*Address:*\n{{ $json.address }}"
                },
                {
                  "type": "mrkdwn",
                  "text": "*Location:*\n{{ $json.city }}, {{ $json.state }} {{ $json.zip }}"
                },
                {
                  "type": "mrkdwn",
                  "text": "*Profit Potential:*\n${{ $json.potentialProfit.toLocaleString() }}"
                },
                {
                  "type": "mrkdwn",
                  "text": "*Distress Indicators:*\n{{ Object.entries($json).filter(([k,v]) => ['foreclosure','taxDelinquent','vacant','bankruptcy'].includes(k) && v).map(([k]) => k).join(', ') || 'None' }}"
                }
              ]
            },
            {
              "type": "actions",
              "elements": [
                {
                  "type": "button",
                  "text": {
                    "type": "plain_text",
                    "text": "View Details"
                  },
                  "url": "{{ $env.FO_PANEL_BASE_URL }}/properties/{{ encodeURIComponent($json.address) }}",
                  "style": "primary"
                },
                {
                  "type": "button",
                  "text": {
                    "type": "plain_text",
                    "text": "Run Comps"
                  },
                  "value": "run_comps_{{ $json.id }}"
                }
              ]
            }
          ]
        }
      },
      "id": "e5f6a7b8-9c0d-1234-5678-901234567890",
      "name": "Send Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1250, 250],
      "credentials": {
        "slackApi": {
          "id": "2",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.SMTP_FROM }}",
        "toEmail": "={{ $env.ALERT_EMAIL_RECIPIENTS }}",
        "subject": "FlipOps Alert: Property Scored {{ $json.score }}/100",
        "html": "<h2>High-Score Property Alert</h2>\n<p>A new property has been identified with a score of <strong>{{ $json.score }}/100</strong></p>\n\n<h3>Property Details:</h3>\n<ul>\n  <li><strong>Address:</strong> {{ $json.address }}</li>\n  <li><strong>City:</strong> {{ $json.city }}, {{ $json.state }} {{ $json.zip }}</li>\n  <li><strong>Owner:</strong> {{ $json.ownerName || 'Unknown' }}</li>\n  <li><strong>Potential Profit:</strong> ${{ $json.potentialProfit.toLocaleString() }}</li>\n</ul>\n\n<h3>Distress Indicators:</h3>\n<ul>\n  {{ $json.foreclosure ? '<li>✓ Foreclosure</li>' : '' }}\n  {{ $json.taxDelinquent ? '<li>✓ Tax Delinquent</li>' : '' }}\n  {{ $json.vacant ? '<li>✓ Vacant</li>' : '' }}\n  {{ $json.bankruptcy ? '<li>✓ Bankruptcy</li>' : '' }}\n</ul>\n\n<p><a href=\"{{ $env.FO_PANEL_BASE_URL }}/properties/{{ encodeURIComponent($json.address) }}\">View Full Details →</a></p>",
        "options": {}
      },
      "id": "f6a7b8c9-0d1e-2345-6789-012345678901",
      "name": "Send Email Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1250, 350],
      "credentials": {
        "smtp": {
          "id": "3",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $env.FO_API_BASE_URL }}/notifications",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.FO_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"eventId\": \"evt_sheets_{{ $now.toUnix() }}_{{ $json.address.replace(/[^a-zA-Z0-9]/g, '') }}\",\n  \"type\": \"property.alert\",\n  \"message\": \"High-score property from Google Sheets: {{ $json.address }}\",\n  \"metadata\": {\n    \"source\": \"google_sheets\",\n    \"score\": {{ $json.score }},\n    \"address\": \"{{ $json.address }}\",\n    \"city\": \"{{ $json.city }}\",\n    \"alerts_sent\": [\"slack\", \"email\"]\n  },\n  \"n8nExecId\": \"{{ $execution.id }}\",\n  \"n8nWorkflow\": \"{{ $workflow.name }}\"\n}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "a7b8c9d0-1e2f-3456-7890-123456789012",
      "name": "Log to Notifications",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "triggerOn": "workflowError"
      },
      "id": "b8c9d0e1-2f34-5678-9012-345678901234",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [250, 500]
    },
    {
      "parameters": {
        "channel": "={{ $env.SLACK_ERROR_CHANNEL }}",
        "text": "⚠️ FlipOps Google Sheets Sync Error\n\nWorkflow: {{ $workflow.name }}\nExecution: {{ $execution.id }}\nError: {{ $json.error.message }}\nNode: {{ $json.error.node }}\n\nPlease check the workflow logs for details.",
        "options": {}
      },
      "id": "c9d0e1f2-3456-7890-1234-567890123456",
      "name": "Send Error to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [450, 500],
      "credentials": {
        "slackApi": {
          "id": "2",
          "name": "Slack account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Properties from Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Properties from Sheet": {
      "main": [
        [
          {
            "node": "Transform to Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform to Schema": {
      "main": [
        [
          {
            "node": "Send to FlipOps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to FlipOps": {
      "main": [
        [
          {
            "node": "High Score Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High Score Filter": {
      "main": [
        [
          {
            "node": "Send Slack Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Email Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Send Slack Alert": {
      "main": [
        [
          {
            "node": "Log to Notifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Alert": {
      "main": [
        [
          {
            "node": "Log to Notifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send Error to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "tags": []
}