workflows/guardrail-alerts.json
{
  "name": "FO_Guardrails__Alerts",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fo.guardrails.alerts",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "fo-guardrails-alerts"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"ok\"}",
        "responseHeaders": {
          "entries": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "respond-immediately",
      "name": "Respond Immediately",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Verify HMAC, check idempotency, validate schema\nconst crypto = require('crypto');\n\n// Get headers and body\nconst headers = $input.first().json.headers;\nconst body = $input.first().json.body;\nconst rawBody = JSON.stringify(body);\n\n// Extract required headers\nconst eventId = headers['x-fo-id'];\nconst eventType = headers['x-fo-type'];\nconst version = headers['x-fo-version'];\nconst timestamp = headers['x-fo-ts'];\nconst signature = headers['x-fo-sig'];\n\n// Validate required headers\nif (!eventId || !eventType || !timestamp || !signature) {\n  throw new Error('Missing required headers');\n}\n\n// Check timestamp (max 5 min old)\nconst now = Date.now();\nconst eventTime = parseInt(timestamp);\nif (now - eventTime > 300000) {\n  throw new Error('Event too old (>5 min)');\n}\n\n// Verify HMAC signature\nconst secret = $env.FO_WEBHOOK_SECRET;\nconst expectedSig = 'v1=' + crypto\n  .createHmac('sha256', secret)\n  .update(`${timestamp}.${rawBody}`)\n  .digest('hex');\n\nif (signature !== expectedSig) {\n  throw new Error('Invalid signature');\n}\n\n// Validate event type\nconst validTypes = ['g1.denied', 'cog.denied', 'cog.approved'];\nif (!validTypes.includes(eventType)) {\n  throw new Error(`Invalid event type: ${eventType}`);\n}\n\n// Validate required fields in body\nif (!body.id || !body.dealId || !body.tenantId) {\n  throw new Error('Missing required body fields');\n}\n\n// Pass data forward\nreturn {\n  eventId,\n  eventType,\n  version,\n  timestamp,\n  body,\n  headers\n};"
      },
      "id": "verify-validate",
      "name": "Verify + Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.FO_API_BASE_URL }}/events/seen/{{ $json.eventId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.FO_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 9000,
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "check-idempotency",
      "name": "Check Idempotency",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": ""
          },
          "conditions": [
            {
              "leftValue": "={{ $json.seen }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "is-new-event",
      "name": "Is New Event?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.FO_API_BASE_URL }}/deals/{{ $json.body.dealId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.FO_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 9000,
          "retry": {
            "maxTries": 2,
            "waitBetweenTries": 1000
          }
        }
      },
      "id": "enrich-deal",
      "name": "Enrich Deal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 250]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "slackBlocks",
              "name": "slackBlocks",
              "type": "array",
              "value": "[\n  {\n    \"type\": \"header\",\n    \"text\": {\n      \"type\": \"plain_text\",\n      \"text\": \"{{ $json.eventType === 'g1.denied' ? '🚨' : $json.eventType === 'cog.denied' ? '❌' : '✅' }} Guardrail: {{ $json.eventType }} on {{ $json.deal.address }}\",\n      \"emoji\": true\n    }\n  },\n  {\n    \"type\": \"section\",\n    \"fields\": [\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Deal ID:*\\n{{ $json.body.dealId }}\"\n      },\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Stage:*\\n{{ $json.deal.stage }}\"\n      },\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*P80:*\\n${{ ($json.body.p80 || $json.deal.p80).toLocaleString() }}\"\n      },\n      {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Max Exposure:*\\n${{ ($json.body.maxExposureUsd || 0).toLocaleString() }}\"\n      }\n    ]\n  },\n  {\n    \"type\": \"section\",\n    \"text\": {\n      \"type\": \"mrkdwn\",\n      \"text\": \"*Reason:* {{ $json.body.reason }}\"\n    }\n  },\n  {\n    \"type\": \"actions\",\n    \"elements\": [\n      {\n        \"type\": \"button\",\n        \"text\": {\n          \"type\": \"plain_text\",\n          \"text\": \"Truth Panel\",\n          \"emoji\": true\n        },\n        \"url\": \"{{ $env.FO_PANEL_BASE_URL }}/truth?deal={{ $json.body.dealId }}\",\n        \"style\": \"primary\"\n      },\n      {\n        \"type\": \"button\",\n        \"text\": {\n          \"type\": \"plain_text\",\n          \"text\": \"Money Panel\",\n          \"emoji\": true\n        },\n        \"url\": \"{{ $env.FO_PANEL_BASE_URL }}/money?deal={{ $json.body.dealId }}\"\n      },\n      {\n        \"type\": \"button\",\n        \"text\": {\n          \"type\": \"plain_text\",\n          \"text\": \"Open Deal\",\n          \"emoji\": true\n        },\n        \"url\": \"{{ $env.FO_API_BASE_URL }}/deals/{{ $json.body.dealId }}\"\n      }\n    ]\n  }\n]"
            },
            {
              "id": "emailHtml",
              "name": "emailHtml",
              "type": "string",
              "value": "<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: #f44336; color: white; padding: 15px; border-radius: 5px 5px 0 0; }\n    .content { background: #f9f9f9; padding: 20px; border: 1px solid #ddd; }\n    .field { margin: 10px 0; }\n    .label { font-weight: bold; }\n    .button { display: inline-block; padding: 10px 20px; margin: 10px 5px; background: #2196F3; color: white; text-decoration: none; border-radius: 5px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h2>[FlipOps] {{ $json.eventType }} — {{ $json.deal.address }}</h2>\n    </div>\n    <div class=\"content\">\n      <div class=\"field\"><span class=\"label\">Deal ID:</span> {{ $json.body.dealId }}</div>\n      <div class=\"field\"><span class=\"label\">Stage:</span> {{ $json.deal.stage }}</div>\n      <div class=\"field\"><span class=\"label\">P80:</span> ${{ ($json.body.p80 || $json.deal.p80).toLocaleString() }}</div>\n      <div class=\"field\"><span class=\"label\">Max Exposure:</span> ${{ ($json.body.maxExposureUsd || 0).toLocaleString() }}</div>\n      <div class=\"field\"><span class=\"label\">Reason:</span> {{ $json.body.reason }}</div>\n      <hr>\n      <a href=\"{{ $env.FO_PANEL_BASE_URL }}/truth?deal={{ $json.body.dealId }}\" class=\"button\">View Truth Panel</a>\n      <a href=\"{{ $env.FO_PANEL_BASE_URL }}/money?deal={{ $json.body.dealId }}\" class=\"button\">View Money Panel</a>\n    </div>\n  </div>\n</body>\n</html>"
            }
          ]
        }
      },
      "id": "build-messages",
      "name": "Build Messages",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1450, 250]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "post",
        "channel": "={{ $env.SLACK_ALERTS_CHANNEL_ID }}",
        "messageType": "block",
        "blocksUi": "={{ $json.slackBlocks }}",
        "options": {}
      },
      "id": "slack-channel",
      "name": "Slack Channel Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1650, 150]
    },
    {
      "parameters": {
        "jsCode": "// Parse investor DM map and send if mapped\nconst investorMap = JSON.parse($env.INVESTOR_DM_MAP || '{}');\nconst investorId = $json.deal?.investorId || $json.body.investorId;\n\nif (investorId && investorMap[investorId]) {\n  return {\n    shouldDM: true,\n    dmUserId: investorMap[investorId],\n    investorId,\n    ...($json)\n  };\n}\n\nreturn {\n  shouldDM: false,\n  ...($json)\n};"
      },
      "id": "check-investor-dm",
      "name": "Check Investor DM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 250]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": ""
          },
          "conditions": [
            {
              "leftValue": "={{ $json.shouldDM }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "should-dm",
      "name": "Should DM?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1850, 250]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "post",
        "channel": "={{ $json.dmUserId }}",
        "messageType": "text",
        "text": "🚨 Guardrail Alert: {{ $json.eventType }} on deal {{ $json.deal.address }}\\n\\nP80: ${{ $json.body.p80 }}\\nReason: {{ $json.body.reason }}\\n\\nView: {{ $env.FO_PANEL_BASE_URL }}/truth?deal={{ $json.body.dealId }}",
        "options": {}
      },
      "id": "slack-dm",
      "name": "Slack Investor DM",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [2050, 200]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.deal?.investorEmail || $env.EMAIL_TO_FALLBACK }}",
        "subject": "[FlipOps] {{ $json.eventType }} — {{ $json.deal.address }}",
        "html": "={{ $json.emailHtml }}",
        "options": {
          "ccEmail": "={{ $env.EMAIL_TO_FALLBACK }}"
        }
      },
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1650, 350]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.FO_API_BASE_URL }}/notifications",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.FO_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"eventId\": \"{{ $json.eventId }}\",\n  \"type\": \"guardrail\",\n  \"subtype\": \"{{ $json.eventType }}\",\n  \"dealId\": \"{{ $json.body.dealId }}\",\n  \"tenantId\": \"{{ $json.body.tenantId }}\",\n  \"investorId\": \"{{ $json.deal?.investorId }}\",\n  \"title\": \"Guardrail: {{ $json.eventType }}\",\n  \"message\": \"{{ $json.body.reason }}\",\n  \"data\": {\n    \"p80\": {{ $json.body.p80 }},\n    \"maxExposure\": {{ $json.body.maxExposureUsd || 0 }},\n    \"address\": \"{{ $json.deal.address }}\",\n    \"stage\": \"{{ $json.deal.stage }}\"\n  },\n  \"links\": [\n    {\n      \"label\": \"Truth Panel\",\n      \"url\": \"{{ $env.FO_PANEL_BASE_URL }}/truth?deal={{ $json.body.dealId }}\"\n    },\n    {\n      \"label\": \"Money Panel\",\n      \"url\": \"{{ $env.FO_PANEL_BASE_URL }}/money?deal={{ $json.body.dealId }}\"\n    }\n  ],\n  \"createdAt\": \"{{ $now.toISO() }}\"\n}",
        "options": {
          "timeout": 9000,
          "retry": {
            "maxTries": 2,
            "waitBetweenTries": 1000
          }
        }
      },
      "id": "persist-notification",
      "name": "Persist Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1650, 450]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.FO_API_BASE_URL }}/events/mark-seen",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.FO_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"eventId\": \"{{ $json.eventId }}\",\n  \"processedAt\": \"{{ $now.toISO() }}\",\n  \"workflowId\": \"{{ $workflow.id }}\",\n  \"executionId\": \"{{ $execution.id }}\"\n}",
        "options": {
          "timeout": 9000
        }
      },
      "id": "mark-seen",
      "name": "Mark Event Seen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1850, 450]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "post",
        "channel": "#automation-errors",
        "messageType": "text",
        "text": "❌ Error in FO_Guardrails__Alerts\\n\\nExecution: {{ $execution.id }}\\nError: {{ $json.error?.message || 'Unknown error' }}\\nEvent: {{ $json.eventId }}\\nDeal: {{ $json.body?.dealId }}\\n\\nCheck execution: {{ $env.N8N_BASE_URL }}/executions/{{ $execution.id }}",
        "options": {}
      },
      "id": "error-alert",
      "name": "Error Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1250, 550]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Respond Immediately",
            "type": "main",
            "index": 0
          },
          {
            "node": "Verify + Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify + Validate": {
      "main": [
        [
          {
            "node": "Check Idempotency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Idempotency": {
      "main": [
        [
          {
            "node": "Is New Event?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New Event?": {
      "main": [
        [
          {
            "node": "Enrich Deal",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Enrich Deal": {
      "main": [
        [
          {
            "node": "Build Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Messages": {
      "main": [
        [
          {
            "node": "Slack Channel Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Investor DM",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Persist Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Investor DM": {
      "main": [
        [
          {
            "node": "Should DM?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should DM?": {
      "main": [
        [
          {
            "node": "Slack Investor DM",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Persist Notification": {
      "main": [
        [
          {
            "node": "Mark Event Seen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "error": [
        [
          {
            "node": "Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify + Validate": {
      "error": [
        [
          {
            "node": "Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Deal": {
      "error": [
        [
          {
            "node": "Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Notification": {
      "error": [
        [
          {
            "node": "Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "__activate": true
}