tests/fixtures/workflow-debug.json
{
  "updatedAt": "2025-11-20T01:29:58.839Z",
  "createdAt": "2025-11-20T01:25:44.728Z",
  "id": "ORNrSAWVXWeNqAb4",
  "name": "ATTOM Property Discovery",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1
            }
          ],
          "hour": 6,
          "minute": 0
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Daily Discovery",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://bb4c35d48e9c.ngrok-free.app/api/users",
        "authentication": "none",
        "options": {}
      },
      "id": "fetch-users",
      "name": "Fetch Active Users",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Safety check for UI preview mode\nif (!$input.all().length) {\n  return [];\n}\n\nconst data = $input.first().json;\nconst users = data.users || [];\n\nreturn users\n  .filter(user => {\n    return user.onboarded === true &&\n           user.investorProfile &&\n           user.investorProfile.targetZipCodes &&\n           user.investorProfile.targetZipCodes.length > 0;\n  })\n  .map(user => ({\n    json: {\n      userId: user.id,\n      email: user.email,\n      name: user.name,\n      minScore: user.minScore || 65,\n      investorProfile: user.investorProfile\n    }\n  }));"
      },
      "id": "filter-users",
      "name": "Filter Active Users",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Safety check for UI preview mode\nif (!$input.all().length) {\n  return [];\n}\n\nconst user = $input.first().json;\nconst targetZipCodes = user.investorProfile?.targetZipCodes || [];\n\nif (targetZipCodes.length === 0) {\n  console.warn('User ' + user.userId + ' has no targetZipCodes');\n  return [{\n    json: {\n      ...user,\n      zips: [],\n      totalZips: 0,\n      error: 'No target ZIP codes configured'\n    }\n  }];\n}\n\nconst zips = targetZipCodes.slice(0, 20);\nreturn [{\n  json: {\n    ...user,\n    zips: zips,\n    totalZips: zips.length\n  }\n}];"
      },
      "id": "build-query",
      "name": "Build ATTOM Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Safety check for UI preview mode\nif (!$input.all().length) {\n  return [];\n}\n\nconst data = $input.first().json;\nconst zips = data.zips || [];\n\nreturn zips.map(zip => ({\n  json: {\n    userData: data,\n    zip: zip\n  }\n}));"
      },
      "id": "loop-zips",
      "name": "Loop Through ZIPs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const axios = require('axios');\n\n// Safety check for UI preview mode\nif (!$input.all().length) {\n  return [];\n}\n\nconst data = $input.first().json;\nconst zip = data.zip;\nconst ATTOM_API_KEY = '72403894efb4b2cfeb4b5b41f105a53a';\n\ntry {\n  const response = await axios.get(\n    'https://api.gateway.attomdata.com/propertyapi/v1.0.0/salessnap/snapshot',\n    {\n      params: {\n        postalcode: zip,\n        pagesize: 50\n      },\n      headers: {\n        'apikey': ATTOM_API_KEY,\n        'accept': 'application/json'\n      }\n    }\n  );\n\n  const properties = response.data?.property || [];\n\n  return [{\n    json: {\n      userData: data.userData,\n      zip: zip,\n      properties: properties,\n      count: properties.length\n    }\n  }];\n} catch (error) {\n  console.error('ATTOM API error for ZIP ' + zip + ':', error.message);\n  return [{\n    json: {\n      userData: data.userData,\n      zip: zip,\n      properties: [],\n      count: 0,\n      error: error.message\n    }\n  }];\n}"
      },
      "id": "fetch-attom",
      "name": "Fetch from ATTOM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Safety check for UI preview mode\nif (!$input.all().length) {\n  return [];\n}\n\nconst data = $input.first().json;\nconst properties = data.properties || [];\nconst profile = data.userData.investorProfile;\n\nfunction calculateMatchScore(property, profile) {\n  let score = 0;\n\n  // Price Match (30 points)\n  if (profile.priceRanges && profile.priceRanges.length > 0) {\n    for (const range of profile.priceRanges) {\n      const price = property.sale?.amount?.saleamt || 0;\n      if (price >= range.min && price <= range.max) {\n        score += 30 * (range.weight || 1.0);\n        break;\n      }\n    }\n  }\n\n  // Distress Indicators (40 points)\n  const distress = profile.distressIndicators || {};\n  const propData = property.assessment?.assessed || {};\n\n  if (propData.taxyear && parseInt(propData.taxyear) < new Date().getFullYear() - 1) {\n    score += (distress.taxDelinquent || 0.8) * 8.5;\n  }\n\n  if (propData.owner?.mailingAddress && propData.owner.mailingAddress !== property.address?.oneLine) {\n    score += (distress.absenteeOwner || 0.6) * 7.5;\n  }\n\n  // Property Characteristics (15 points)\n  const chars = profile.preferredCharacteristics || {};\n  const building = property.building || {};\n\n  if (chars.beds && building.rooms?.beds) {\n    const beds = parseInt(building.rooms.beds);\n    if (beds >= (chars.beds.min || 0) && beds <= (chars.beds.max || 10)) {\n      score += 5;\n    }\n  }\n\n  if (chars.sqft && building.size?.livingsize) {\n    const sqft = parseInt(building.size.livingsize);\n    if (sqft >= (chars.sqft.min || 0) && sqft <= (chars.sqft.max || 10000)) {\n      score += 5;\n    }\n  }\n\n  if (chars.yearBuilt && building.summary?.yearbuilt) {\n    const year = parseInt(building.summary.yearbuilt);\n    if (year >= (chars.yearBuilt.min || 1900) && year <= (chars.yearBuilt.max || 2025)) {\n      score += 5;\n    }\n  }\n\n  // Equity Potential (15 points)\n  const salePrice = property.sale?.amount?.saleamt || 0;\n  const avm = property.avm?.amount?.value || salePrice;\n\n  if (salePrice > 0 && avm > 0) {\n    const equityPercent = ((avm - salePrice) / avm) * 100;\n    const equityReq = profile.equityRequirements || {};\n\n    if (equityPercent >= (equityReq.preferredEquityPercent || 40)) {\n      score += 15;\n    } else if (equityPercent >= (equityReq.minEquityPercent || 20)) {\n      score += 8;\n    }\n  }\n\n  return Math.round(score);\n}\n\nconst scoredProperties = properties.map(property => ({\n  ...property,\n  matchScore: calculateMatchScore(property, profile)\n}));\n\nreturn [{\n  json: {\n    userData: data.userData,\n    zip: data.zip,\n    properties: scoredProperties\n  }\n}];"
      },
      "id": "calculate-scores",
      "name": "Calculate Match Scores",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Safety check for UI preview mode\nif (!$input.all().length) {\n  return [];\n}\n\nconst data = $input.first().json;\nconst properties = data.properties || [];\n\nfunction transformProperty(property) {\n  const address = property.address || {};\n  const sale = property.sale || {};\n  const assessment = property.assessment?.assessed || {};\n  const building = property.building || {};\n\n  return {\n    address: address.line1 || '',\n    city: address.locality || '',\n    state: address.countrySubd || '',\n    zip: address.postal1 || '',\n    county: address.country || '',\n    apn: property.identifier?.apn || null,\n    ownerName: assessment.owner?.name || null,\n    propertyType: building.summary?.propertyType || null,\n    bedrooms: building.rooms?.beds ? parseInt(building.rooms.beds) : null,\n    bathrooms: building.rooms?.bathstotal ? parseFloat(building.rooms.bathstotal) : null,\n    squareFeet: building.size?.livingsize ? parseInt(building.size.livingsize) : null,\n    lotSize: property.lot?.lotsize1 ? parseInt(property.lot.lotsize1) : null,\n    yearBuilt: building.summary?.yearbuilt ? parseInt(building.summary.yearbuilt) : null,\n    assessedValue: assessment.market?.mktttlvalue ? parseFloat(assessment.market.mktttlvalue) : null,\n    taxAmount: assessment.tax?.taxtotal ? parseFloat(assessment.tax.taxtotal) : null,\n    lastSaleDate: sale.date?.salerecdate || null,\n    lastSalePrice: sale.amount?.saleamt ? parseFloat(sale.amount.saleamt) : null,\n    estimatedValue: property.avm?.amount?.value ? parseFloat(property.avm.amount.value) : null,\n    foreclosure: false,\n    preForeclosure: false,\n    taxDelinquent: assessment.taxyear ? parseInt(assessment.taxyear) < new Date().getFullYear() - 1 : false,\n    vacant: false,\n    bankruptcy: false,\n    absenteeOwner: assessment.owner?.mailingAddress ?\n      assessment.owner.mailingAddress !== address.oneLine : false,\n    sourceId: property.identifier?.attomId || null,\n    score: property.matchScore || 0,\n    metadata: {\n      matchScore: property.matchScore || 0,\n      attomId: property.identifier?.attomId,\n      fips: property.identifier?.fips\n    }\n  };\n}\n\nconst transformed = properties.map(transformProperty);\n\nreturn [{\n  json: {\n    userData: data.userData,\n    zip: data.zip,\n    properties: transformed\n  }\n}];"
      },
      "id": "transform-properties",
      "name": "Transform to FlipOps Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Safety check for UI preview mode\nif (!$input.all().length) {\n  return [];\n}\n\nconst data = $input.first().json;\nconst properties = data.properties || [];\nconst minScore = data.userData.minScore || 65;\nconst profile = data.userData.investorProfile;\nconst dailyMax = profile.leadPreferences?.dailyMaxLeads || 20;\n\n// Filter properties that meet minimum score\nconst qualified = properties.filter(p => p.score >= minScore);\n\n// Sort by score (highest first) and limit\nconst topProperties = qualified\n  .sort((a, b) => b.score - a.score)\n  .slice(0, dailyMax);\n\n// Calculate average score\nconst avgScore = qualified.length > 0\n  ? Math.round(qualified.reduce((sum, p) => sum + p.score, 0) / qualified.length)\n  : 0;\n\nreturn [{\n  json: {\n    userData: data.userData,\n    zip: data.zip,\n    totalProperties: properties.length,\n    qualifiedProperties: qualified.length,\n    topProperties: topProperties,\n    averageScore: avgScore\n  }\n}];"
      },
      "id": "filter-sort",
      "name": "Filter by Score & Sort",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        400
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData"
      },
      "id": "aggregate-zips",
      "name": "Aggregate All ZIPs",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2220,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Safety check for UI preview mode\nif (!$input.all().length) {\n  return [];\n}\n\nconst allItems = $input.all();\nlet allProperties = [];\nlet userData = null;\n\nfor (const item of allItems) {\n  const data = item.json;\n  if (!userData) userData = data.userData;\n\n  const props = data.topProperties || [];\n  allProperties = allProperties.concat(props);\n}\n\n// Deduplicate by sourceId\nconst seen = new Set();\nconst unique = allProperties.filter(p => {\n  if (!p.sourceId || seen.has(p.sourceId)) return false;\n  seen.add(p.sourceId);\n  return true;\n});\n\n// Sort and limit globally\nconst dailyMax = userData?.investorProfile?.leadPreferences?.dailyMaxLeads || 20;\nconst final = unique\n  .sort((a, b) => b.score - a.score)\n  .slice(0, dailyMax);\n\nreturn [{\n  json: {\n    userData: userData,\n    properties: final,\n    totalUnique: unique.length,\n    finalCount: final.length\n  }\n}];"
      },
      "id": "deduplicate",
      "name": "Deduplicate Properties",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2440,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.finalCount }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "check-if-any",
      "name": "Has Qualified Properties?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2660,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const axios = require('axios');\n\n// Safety check for UI preview mode\nif (!$input.all().length) {\n  return [];\n}\n\nconst data = $input.first().json;\nconst properties = data.properties || [];\nconst userData = data.userData;\nconst FO_API_KEY = 'fo_live_10177805c8d743e1a6e1860515dc2b3f';\n\ntry {\n  const response = await axios.post(\n    'https://bb4c35d48e9c.ngrok-free.app/api/properties/ingest',\n    {\n      userId: userData.userId,\n      properties: properties\n    },\n    {\n      headers: {\n        'Content-Type': 'application/json',\n        'x-api-key': FO_API_KEY,\n        'ngrok-skip-browser-warning': 'true'\n      }\n    }\n  );\n\n  return [{\n    json: {\n      userData: userData,\n      properties: properties,\n      ingested: response.data.ingested || 0,\n      skipped: response.data.skipped || 0,\n      success: true\n    }\n  }];\n} catch (error) {\n  console.error('Ingest error:', error.message);\n  return [{\n    json: {\n      userData: userData,\n      properties: properties,\n      ingested: 0,\n      skipped: properties.length,\n      success: false,\n      error: error.message\n    }\n  }];\n}"
      },
      "id": "ingest-properties",
      "name": "Ingest to Database",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Safety check for UI preview mode\nif (!$input.all().length) {\n  return [];\n}\n\nconst data = $input.first().json;\nconst userData = data.userData;\nconst properties = data.properties || [];\nconst top5 = properties.slice(0, 5);\n\nlet message = '🏘️ *Daily Property Discovery Report*\\n\\n';\nmessage += '👤 *Investor:* ' + userData.name + '\\n';\nmessage += '📊 *Properties Found:* ' + properties.length + ' qualified leads\\n';\nmessage += '✅ *Ingested:* ' + (data.ingested || 0) + ' properties\\n\\n';\n\nif (top5.length > 0) {\n  message += '🏆 *Top 5 Properties:*\\n\\n';\n\n  top5.forEach((prop, i) => {\n    message += (i + 1) + '. *' + prop.address + '*\\n';\n    message += '   📍 ' + prop.city + ', ' + prop.state + ' ' + prop.zip + '\\n';\n    message += '   💰 $' + (prop.lastSalePrice || 0).toLocaleString() + ' | ';\n    message += '⭐ Score: ' + prop.score + '\\n';\n    message += '   🛏️ ' + (prop.bedrooms || 'N/A') + ' bed | ';\n    message += '🛁 ' + (prop.bathrooms || 'N/A') + ' bath | ';\n    message += '📐 ' + ((prop.squareFeet || 0).toLocaleString()) + ' sqft\\n\\n';\n  });\n}\n\nreturn [{\n  json: {\n    text: message\n  }\n}];"
      },
      "id": "format-slack",
      "name": "Format Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3100,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR_WEBHOOK_URL",
        "authentication": "none",
        "options": {}
      },
      "id": "send-slack",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3320,
        300
      ]
    }
  ],
  "connections": {
    "Schedule Daily Discovery": {
      "main": [
        [
          {
            "node": "Fetch Active Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Active Users": {
      "main": [
        [
          {
            "node": "Filter Active Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Active Users": {
      "main": [
        [
          {
            "node": "Build ATTOM Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build ATTOM Query": {
      "main": [
        [
          {
            "node": "Loop Through ZIPs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Through ZIPs": {
      "main": [
        [
          {
            "node": "Fetch from ATTOM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch from ATTOM": {
      "main": [
        [
          {
            "node": "Calculate Match Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Match Scores": {
      "main": [
        [
          {
            "node": "Transform to FlipOps Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform to FlipOps Format": {
      "main": [
        [
          {
            "node": "Filter by Score & Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter by Score & Sort": {
      "main": [
        [
          {
            "node": "Aggregate All ZIPs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate All ZIPs": {
      "main": [
        [
          {
            "node": "Deduplicate Properties",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate Properties": {
      "main": [
        [
          {
            "node": "Has Qualified Properties?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Qualified Properties?": {
      "main": [
        [
          {
            "node": "Ingest to Database",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Ingest to Database": {
      "main": [
        [
          {
            "node": "Format Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Slack Message": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "fe2fefed-917e-459c-970a-74c64cf3752e",
  "versionCounter": 2,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-20T01:25:44.728Z",
      "createdAt": "2025-11-20T01:25:44.728Z",
      "role": "workflow:owner",
      "workflowId": "ORNrSAWVXWeNqAb4",
      "projectId": "vB5sgVCG7DFutu7U",
      "project": {
        "updatedAt": "2025-09-22T06:52:42.912Z",
        "createdAt": "2025-09-22T06:51:52.182Z",
        "id": "vB5sgVCG7DFutu7U",
        "name": "tanner carlson <tannercarlson@vvsvault.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-09-22T06:51:52.182Z",
            "createdAt": "2025-09-22T06:51:52.182Z",
            "userId": "43b0bb5a-a624-41ac-9e67-9932e26c9a9a",
            "projectId": "vB5sgVCG7DFutu7U",
            "user": {
              "updatedAt": "2025-11-19T22:41:17.714Z",
              "createdAt": "2025-09-22T06:51:50.535Z",
              "id": "43b0bb5a-a624-41ac-9e67-9932e26c9a9a",
              "email": "tannercarlson@vvsvault.com",
              "firstName": "tanner",
              "lastName": "carlson",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-22T06:52:54.155Z",
                "personalization_survey_n8n_version": "1.111.1",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "CXW7dsaUwOESiMR1",
                "userActivatedAt": 1759919869557,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1763592067490
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-19",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}